.App {
  text-align: center;
}

body {
  background-color: black;
}

.container {
 background-color: rgb(20, 20, 20);
 border-radius: 2em;
 margin-top: 2em;
 padding: 2em;
}

.site-footer {
  background-color: black;
  border-radius: 0 0 1em 1em !important;
  padding: .5em;
}

.card{
  border-width: 0 !important;
  border-color: transparent !important;
  background-color: rgb(15, 15, 15) !important;
  color: white;
  border-radius: 2em !important;
}

.card-img {
  border-radius: 1em 1em 0 0 !important;
}

.card-title{
  font-size: 1.5rem;
  background-color: transparent;
  text-align: center;
}

h4 {
  padding: 0 0 0 .5em;
  display: flex;
}

.card-body p {
  padding: 0 0 0 1em;
  display: flex;
  text-align: left;
}

.button {
  margin: 0;
  padding: 0;
  width: 60%;
  height: 2em;
  border-radius: 1em;
  border-color: rgb(31, 30, 30);
  /* text-align: center;
  text-decoration: none;
  display: inline-block; */
}

.button:hover {
  margin: 0;
  padding: 0;
  width: 60%;
  height: 2em;
  border-radius: 1em;
  border-color: transparent;
}